.section__about {
  position: relative;
  .aboutContainer {
    position: relative;
    &__half {
      display: flex;
      justify-content: space-between;
    }
    &__image {
      background: grey;
      width: 50%;
      margin: 80px 0 50px 80px;
      // height: 100%;
    }
  }
}

@media (max-width: 860px) {
  .section__about {
    .subheadingContainer {
      width: 100%;
    }
    .aboutContainer {
      &__image {
        display: none;
      }
    }
  }
}
