.section__about {
  position: relative;
  .aboutContainer {
    position: relative;
    &__half {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__image {
      width: 40%;
      margin: 80px 0 50px 80px;
      box-shadow: -20px 20px #46969680;
      img {
        border-left: 3px solid white;
      }
    }
  }
}
.email {
  @include primaryFont(22, $accent);
  display: block;
  text-align: center;
  margin-bottom: 50px;
  transition: all 0.5s;
  &:hover {
    text-shadow: 0 10px 5px rgba(0, 0, 0, 0.233);
    transform: scale(1.1);
    color: lighten($accent, 10%);
  }
}

@media (max-width: 860px) {
  .section__about {
    .subheadingContainer {
      width: 100%;
    }
    .aboutContainer {
      &__image {
        display: none;
      }
    }
  }
}
