.section__contact {
  background: url("../../../assets/pattern.svg");
  .contactForm {
    @include secondaryFont(16, $black-shade);

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 600px;
    input,
    textarea {
      width: 100%;
      border: none;
      border-bottom: 1px solid $accent;
      padding: 10px 10px;
      margin-bottom: 20px;
      resize: none;
      box-shadow: 0px 5px 10px rgba($darkGrey, 0.2);
    }

    input[type="submit"] {
      border: 1px solid $accent;
      background: white;
      color: $darkGrey;

      transition: box-shadow 0.5s;
      box-shadow: 0px 8px 10px rgba($darkGrey, 0.2);
      &:hover {
        background: $accent;
        color: $white-shade;
        box-shadow: 0px 5px 10px rgba($accent, 0.3);
      }
    }
  }
  .email {
    @include primaryFont(22, $accent);
    display: block;
    text-align: center;
    margin-bottom: 50px;
    transition: all 0.5s;
    &:hover {
      text-shadow: 0 10px 5px rgba(0, 0, 0, 0.233);
      transform: scale(1.1);
      color: lighten($accent, 10%);
    }
  }
}

@media (max-width: 500px) {
  .section__contact {
    .email {
      @include primaryFont(18, $accent);
    }
  }
}
