header {
  background: url("../../../assets/triangle-up.png") 50% 45%/400px 360px
      no-repeat,
    url("../../../assets/triangle-down.png") 50% 55%/400px 360px no-repeat,
    url("../../../assets/overlay.png") center/cover,
    url("../../../assets/header.jpg") center top/cover fixed;
  height: calc(92vh - 20px);
  text-align: center;
  display: flex;
  align-items: center;
  margin: 10px;

  h5 {
    display: inline-block;
    margin: 30px;
    border-bottom: 4px solid $accent;
    line-height: 2;
  }
}

@media (max-width: 860px) {
  header {
    height: calc(100vh - 20px);
  }
}

@media (max-width: 430px) {
  header {
    background: url("../../../assets/triangle-up.png") 50% 45% / contain
        no-repeat,
      url("../../../assets/triangle-down.png") 50% 55% / contain no-repeat,
      url("../../../assets/overlay.png") center/cover,
      url("../../../assets/header.jpg") center top/cover fixed;
  }
}
