nav {
  background: $black-shade;
  height: 8vh;
  z-index: 20;
  .nav__list {
    // background: $black-shade;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 10px;
    height: 8vh;
    // :last-child a {
    //   padding-right: 0;
    // }
    &__link {
      @include primaryFont(14, white);
      padding: 20px;
      transition: color 0.5s;
      font-weight: bold;
      &:hover {
        color: $accent;
      }
    }
  }
}

.fixNav {
  position: fixed;
  top: 0;
  width: 100%;
}
.fixNav + main {
  padding-top: 8vh;
}

@media (max-width: 860px) {
  nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 500px;
    bottom: 0;
    height: 60vh;
    .nav__list {
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      margin: 50px 0;
      height: auto;
      &__item {
        padding: 20px 0;
      }
    }

    display: none;
  }
  .fixNav {
    width: auto;
  }
}
