.section__skills {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../../../assets/skills-bg.jpg") 50% 50% / cover fixed;
  .skillsContainer {
    display: flex;
    align-items: center;
    color: $white-shade;
    .skills__list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-left: 50px;
      &__item {
        font-size: 100px;
        padding: 20px 0 20px 60px;
      }
    }
  }
}

@media (max-width: 860px) {
  .section__skills {
    background-attachment:scroll;
    .skillsContainer {
      display: block;
      .skills__list {
        margin: 0;
        &__item {
          padding: 20px;
        }
      }
    }
  }
}
