.section__work {
  position: relative;
  background: $black-shade;
  padding: 0 0 50px 0;
  &__header {
    position: relative;
    padding: 50px 0;
    margin-bottom: 50px;
    .headingImage {
      width: 100%;
      height: 300px;
      position: absolute;
      top: 0px;

      img {
        object-fit: cover;
        object-position: 0 0;
        height: 100%;
      }
    }
    .overlay {
      height: 300px;
      background: linear-gradient(to top, $black-shade, transparent);
      position: absolute;
      top: 0px;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  .workContainer {
    &__item {
      align-items: center;
      display: flex;
      margin-bottom: 120px;
      &__image {
        z-index: 10;
        width: 45%;
      }
      &__text {
        z-index: 10;
        padding: 50px 50px 50px 0;
        width: 55%;
        .toolsUsed {
          color: $accent;
          margin-bottom: 20px;
        }
      }
      &--right {
        align-items: center;
        display: flex;
        margin-bottom: 120px;
        .workContainer__item__text {
          padding: 50px 0 50px 50px;
        }
      }
    }

    p,
    h3 {
      color: white;
    }
  }
  .particles__work {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


@media (max-width: 860px) {
  .section__work {
    .workContainer {
      &__item {
        flex-direction: column-reverse;
        margin-bottom: 50px;
        &--right {
          flex-direction: column;
          margin-bottom: 50px;
          .workContainer__item__text {
            padding: 40px 0 40px 0;
          }
        }
        &__image {
          width: 60%;
        }
        &__text {
          width: 90%;
          padding: 40px 0 40px 0;
        }
        &__links {
          justify-content: space-between;
        }
      }
    }
  }
}
